<div class="track-container" (dblclick)="doubleClick($event)">
  <div class="row">
    <!-- <div class="column shrink">
      <div class="track-color-new" [style.backgroundColor]="data.color"></div>
    </div> -->
    <div class="column small-12">
      <div class="row column">
        <div class="row title-row">
          <div class="column shrink title">
            <div class="track-color" [style.color]="data.color"><i class="ion-record track-color-icon" title="Track Color"></i></div>
              <input type="value" class="title-input" title="Track Title" value="{{data.fields.title}}">
          </div>
          <!-- <div class="column shrink"><i class="ion-drag title-icon" title="Reorder Tracks"></i> -->
        </div>
      </div>
      <div class="row column annotation-row collapse">
        <div class="annotation-container">
          <div class="annotations">
            <app-annotation *ngFor="let annotation of data.annotations" [data]="annotation" [backcolor]="data.color"></app-annotation>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="track">
  <div class="title">

    </div>
  <div class="annotations">
    <app-annotation *ngFor="let annotation of data.annotations" [data]="annotation"></app-annotation>
  </div>
</div> -->
