@import "settings";
// bower:scss
@import "bower_components/foundation-sites/scss/foundation.scss";
// endbower

@include foundation-everything(true);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,400italic,700,700italic,500,500italic);

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.align-right{
  text-align: right;
}

.title {
  font-weight: lighter;
  margin-top: 2em;
  margin-bottom: 1em;
  //margin: 2em 0;
  font-size: 25px;
  line-height: 28px;
  a {
    font-weight: 500;
  }
}

.login {
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}

.annotation-order {
  font-weight: 500;
  text-align: right;
}

.annotation-category-title {
  padding-top: 0.2em;
  padding-bottom: 0.6em;
  background-color: $white;
}

.annotation-category-red {
  background-color: #ff5840;
}

.annotation-category-grey {
  background-color: $medium-gray;
}

.annotation-category-blue {
  background-color: #3d93d9;
}

.annotation-row {
  background-color: $light-gray;
  margin-left: 0.5em;
  margin-bottom: 0.3em;
}

.video-material-title {
  font-weight: 500;
  text-align: left;
  margin-bottom: 0.5em;
}

.video-container {
  img {
    width: 800px;
    height: 450px;
  }
}
