@import '../../../settings';

$main-color: $process-dark-gray;
$blue: #2198e6;

:host {
  pointer-events: none;
}

.playhead {
  margin-top: 20px;
  background-color: $black;
  display: block;
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
}

.timelabel {
  color: $white;
  display: inline-block;
  background-color: $black;
  position: relative;
  top: 0;
  left: 0;
  height: 20px;
  padding-left: 0.2em;
  padding-right: 0.2em;
}
