<h3 class="title-settings">Information</h3>
Research Video is auto-saving, no need to save manually. If you want to send the project to somebody or preserve it for later use, simply export it as an archive.
<!-- Tracks: X<br />
Annotations: X<br /> -->
<div class="row">
  <div class="column">
    <h3 class="title-settings">Open Project</h3>
    <!-- <i class="ion-ios-upload-outline" title="Import Project" alt="Import Project"></i>  -->
    <input type="file" name="projectFile" id="projectFile" class="inputfile" accept=".rv" (change)="importFileSelected($event)">
    <label for="projectFile">Open...</label>
  </div>
  <div class="column">
    <h3 class="title-settings">Export Project</h3>
    <!-- <i class="ion-ios-download-outline" title="Export Project" alt="Export Project"></i>  -->
    <a class="button-export" href="#" (click)="exportButtonClicked($event)">Export</a>
  </div>
</div>
<app-filepicker (filePicked)="videoFilePicked($event)">></app-filepicker>
