@import '../settings';
$outline-width: 3px;

h2 {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 1em;
}

.title-settings {
  font-size: 16px;
  font-weight: 500;
  margin-top: 1em;
}
.inputfile + label {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: black;
    display: inline-block;
    color: $black;
    background-color: $process-light-gray;
}

.inputfile:focus + label, .inputfile + label:hover {
  color: $white;
  background-color: $black;
  cursor: pointer;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.button-export {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    display: inline-block;
    color: $black;
    background-color: $process-light-gray;
}

.button-export:hover {
  color: $white;
  background-color: $black;
}

.button-reset {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    display: inline-block;
    color: $white;
    background-color: red;
}

.button-reset:hover {
  color: $white;
  background-color: $black;
}

a {
  font-weight: 500;
}

.title-information {
  font-size: 16px;
  font-weight: 500;
  margin-top: 3em;
}

label {
  font-weight: 500;
}

.buttons {
  margin-bottom: 1em;
  margin-bottom: 1em;
}
