<!-- Tracks: X<br />
Annotations: X<br /> -->
<div class="row column">
  <h2>Project</h2>
</div>
<div class="row buttons">
  <div class="column">
    <h3 class="title-settings">Open Project</h3>
    <!-- <i class="ion-ios-upload-outline" title="Import Project" alt="Import Project"></i>  -->
    <input type="file" name="projectFile" id="projectFile" class="inputfile" accept=".rv" (change)="importFileSelected($event)">
    <label for="projectFile">Open...</label>
  </div>
  <div class="column">
    <h3 class="title-settings">Export Project</h3>
    <!-- <i class="ion-ios-download-outline" title="Export Project" alt="Export Project"></i>  -->
    <a class="button-export" href="#" (click)="exportButtonClicked($event)">Export</a>
  </div>
</div>
<div class="row buttons">
  <div class="column">
    <app-filepicker (filePicked)="videoFileSelected($event)"></app-filepicker>
  </div>
  <div class="column">
    <h3 class="title-settings">Reset Project</h3>
    <a class="button-reset" href="#" (click)="resetButtonClicked($event)">Reset</a>
  </div>
</div>
<div class="row">
  <div class="column">
    <h3 class="title-information">Information</h3>
    <p>Research Video is auto-saving, no need to save manually. If you want to send the project to somebody or preserve it for later use, simply export it as an archive.</p>
    <p>Feel free to share your feedback directly via <a href="mailto:contact@process.studio">contact@process.studio</a>, start a new issue on <a href="https://github.com/StudioProcess/rvp/issues">github</a> or join the conversation in our <a href="https://docs.google.com/document/d/138X8Mwrqro1Um0N85-0xUM5yru1hoRt6Rob0vzt7svE/edit">public document</a>.</p>
  </div>
</div>
