@import 'colors';
@import 'dimensions';

$text-color: $black;

@mixin handle {
  cursor: ew-resize;
  padding-left: $handlebar-handle-padding;
  padding-right: $handlebar-handle-padding;

  &:hover {
    color: $text-color;
    background-color: $text-color;
  }
}

:host {
  display: inline-block;
  background-color: $process-gray2;
  color: $process-gray2;
  position: absolute;
  height: $handlebar-height;
  min-width: $handlebar-minwidth;
  transition: all 0.4s;

  &.selected {
    outline-offset: (-$selection-outlinewidth);
    outline: $selection-outlinewidth solid $black;
  }

  &.playercurrenttime {
    background-color: rgb(255, 209, 109);
  }

  .handlebar {
    display: flex;
    height: inherit;

    &:hover {
      color: $text-color;
    }

    .left-handle {
      @include handle;
      text-align: left;

      i {
        display: block;
        margin-top: -2px;
      }
    }

    .handlebarPointerMarker {
      position: absolute;
      top: 5px;
      left: 4px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: rgb(224, 224, 224);
      z-index: 1;
    }

    .content {
      width: $handlebar-content-width;
      padding-top: $handlebar-handle-padding;
      padding-left: 2px;
      text-align: center;
      cursor: all-scroll;
      overflow: hidden;
      word-break: break-all;
      color: $text-color;
      font-size: $handlebar-content-fontsize;
      z-index: 2;
    }

    .right-handle {
      @include handle;
      text-align: right;

      i {
        display: block;
        margin-top: -2px;
      }
    }
  }
}
