{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "angular": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "quotes": ["off", "single"]
  }
}
