@import 'mixins';

:host {
  display: block;
  width: 67%;

  a {
    font-weight: 500;
  }

  .title-settings {
    font-size: 16px;
    font-weight: 500;
    margin-top: 1em;
    font-weight: bold;
  }
}

:host:focus {
  outline: none;
}

:host {
  h2 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 1em;

    .icon-title {
      padding-right: 0.5em;
    }
  }
}

:host {
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    @include button($process-light-gray);
  }
}

:host {
  .button-export {
    @include button($process-light-gray);
  }

  .button-importurl {
    @include button($process-light-gray);
  }
}

:host {
  .button-new, .button-reset {
    @include button(red, white)
  }
}

:host {
  .title-information {
    font-size: 16px;
    font-weight: 500;
    margin-top: 3em;
    font-weight: bold;
  }
}

:host {
  .default-annotation-duration-input {
    display: inline-block;
    margin-right: 8px;
    max-width: 75px;
    background-color: $process-light-gray;
    border: none;
    box-shadow: none;
  }
}

:host {
  rv-version {
    user-select: text;
  }
}
