@import "colors";

.timeline-wrapper {
  user-select: none;

  .handlebar-wrapper {
    display: block;
    background-color: $process-light-gray;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
