@import 'colors';
@import 'dimensions';

:host {
  user-select: none;

  .scrollbar-wrapper {
    display: block;
    position: relative;
    height: $handlebar-height;
    background-color: $process-light-gray;
    margin-bottom: $scrollbar-margin;
    margin-top: $scrollbar-margin;
  }
}
