:host {
  display: block;
  position: absolute;
}
.tagging-list-container {
  margin-top: -24px;
  margin-left: -10px;
  min-width: 100px;
  max-height: 300px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #000;
  overflow-y: scroll;

  #tag-editable {
  }
  .tagging-list {
    padding: 0;
    margin: 5px 0 0 0;
    list-style: none;

    li {

      &:hover {
        background: #CCC;
        cursor: pointer;
      }
    }
  }
}
