<!-- TIMELINE -->
<div class="timeline" (mousemove)="moveCursor($event)" (mousedown)="playheadClick($event)">

  <div class="timeline-header"  (click)="deselectAnnotations($event)">
    <app-handlebar class="scrollbar" [left]="0" [width]="100" [caption]="'|||'" [minWidth]='30' (drag)="scrollbarDrag($event)"></app-handlebar>

    <div style="padding-top:20px;text-align:center;">
      <span>left: {{scrollbarLeft | number:'.2-2'}}%</span> — <span>width: {{scrollbarWidth | number:'.2-2'}}% — {{timelineWidth|number:'.0-0'}}px</span>
    </div>
  </div>

    <app-track *ngFor="let track of data.tracks"
      [data]="track"
      [scrollContainer]="'.annotation-container'"
      [scroll]="scrollbarLeft"
      [zoom]="timelineWidth">
    </app-track>

  <!-- cursor -->
  <!-- <app-cursor [time]="cursorTime" [displayTime]="cursorDisplayTime"></app-cursor> -->

  <!-- playhead -->
  <app-playhead [time]="playheadTime" [displayTime]="playheadDisplayTime"></app-playhead>
</div>
