@import '../settings';

.timeline {
  width: 100%;
  padding-top: 1em;
  margin-bottom: 5em;
  //min-height: 200px;
}

.timeline-test {
  //background-color: $light-gray;
  position: relative;
  min-height: 50px;
  margin-bottom: 5em;
}
