<form class="entry-container" [formGroup]="form" novalidate>
  <!-- <div class="row">
    <div class="column">
      <pre>{{entry.annotation|json}}</pre>
      <pre>{{form.status|json}}</pre>
    </div>
  </div> -->
  <div class="row collapse">
    <div class="column shrink">
      <div class="annotation-color" [style.backgroundColor]="entry.color"></div>
    </div>
    <div class="column annotation-info">
      <div class="row">
        <div class="column">
          <i class="ion-ios-time-outline"></i>
          <input #start formControlName="utc_timestamp" class="number" title="Start Time">
        </div>
        <div class="column">
          <i class="ion-ios-time"></i>
          <input #duration formControlName="duration" class="number" title="Duration">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <input formControlName="title" class="title" title="Title" placeholder="Title (optional)">
          <textarea formControlName="description" class="description" title="Description" placeholder="Description (optional)"></textarea>
        </div>
      </div>
    </div>
  </div>
</form>
