@import 'dimensions';
@import 'colors';

:host {
  display: block;
}

:host.selected .entry-container {
  background-color: $process-super-light-gray;
  outline-offset: (-$inspector-outline-width);
  outline: $inspector-outline-width solid $black;
}

:host.selected .entry-container:hover {
  background-color: $white;
  outline-offset: (-$inspector-outline-width);
  outline: -$inspector-outline-width solid $black;
}

:host:nth-child(even) .entry-container {
  background-color: $process-super-light-gray;
}

:host:nth-child(even) .entry-container:hover {
  background-color: $white;
}

.entry-container {
  background-color: #f2f1f1;

  .annotation-color {
    height: 100%;
    width: $inspector-annotation-color-width;
  }

  .annotation-info {
    padding: 5px;

    .title {
      width: 100%;
      font-weight: 500;
      border: 1px solid transparent;
      background-color: inherit;
      padding: 0.2em;
    }
    .title:focus {
      background-color: $highlight-color;
    }

    .description {
      font-size: 14px;
      line-height: 15px;
      resize: none;
      margin: 0;
      padding: 0.2em;
      outline: none;
      border-color: transparent;
      box-shadow: 0 0 0 $white;
      background-color: inherit;
    }

    .description:focus {
      color: $black;
    }

    .number, .timestamp {
      font-weight: 500;
      // color: $dark-gray;
      // color: #727272;
      // color: #898989;
      width: 88px;
      border: 1px solid transparent;
      background-color: inherit;
    }
    .number:hover {
      color: #353535;
    }
  }
}

.entry-container:hover {
  background-color: $white;
}
