@import 'colors';
@import 'dimensions';

:host {
  display: block;
  position: relative;
  padding-top: $track-paddingtop;
  padding-bottom: $track-paddingbottom;
  background-color: $process-super-light-gray2;

  &:hover {
    background-color: $white2;
  }
}

:host {
  .title-row {
    padding-bottom: $track-title-paddingbottom;
    justify-content: space-between;
    font-size: $track-title-fontsize;

    .track-color {
      width: $track-color-width;
      display: inline-block;

      i {
        padding-left: $track-icon-paddingleft;
        padding-right: $track-icon-paddingright;
      }
    }

    .title-input {
      display: inline-block;
      font-weight: $track-title-fontweight;
      border: none;
      background-color: inherit;

      &:hover {
        color: $dark-gray;
      }

      &:focus {
        color: $white;
        background-color: $highlight-color;
        outline: none;
      }
    }
  }
}

:host {
  .track-options {
    display: inline-block;
    opacity: 0;

    i {
      cursor: pointer;
      padding-left: $track-optionsicon-padding;
      padding-left: $track-optionsicon-padding;

      &.track-delete-icon {
        cursor: pointer;
        padding-left: 3*$track-optionsicon-padding;
        padding-right: $track-deleteicon-paddingright;
      }
    }
  }

  &:hover {
    .track-options {
      animation: fadeIn ease-in 1;
      animation-fill-mode: forwards;
      animation-duration: $track-options-animationduration;
      z-index: 100;
    }
  }
}

:host {
  .annotations-wrapper {
    background-color: $process-light-gray;
    height: $handlebar-height;
    margin-bottom: $track-annotationwrapper-marginbottom;
  }

  .track-overflow {
    overflow: hidden;

    .track-zoom {
      position: relative;
    }
  }
}

:host {
  .active-track {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: black;
  }
}
