<div class="row title-row">
  <div class="column shrink" [formGroup]="form">
    <div class="track-color" [style.color]="data.color">
      <i class="ion-record" title="Track Color"></i>
    </div>
    <input class="title-input" placeholder="Track Title" title="Track Title" formControlName="title">
  </div>
  <div class="column shrink track-options">
    <button class="ion-android-close track-delete-icon" title="Delete Track" alt="Delete Track"></button>
  </div>
</div>
<div #annotations class="annotations-wrapper">
  <rv-handlebar *ngFor="let annotation of data.annotations"
    [containerRect]="annotationsRect"
    [caption]="annotation.fields.title"
    [left]="getAnnotationPosition(annotation)"
    [width]="getAnnotationWidth(annotation)">
  </rv-handlebar>
</div>
