<!--
<div class="row small-12 annotation-category-title">
  <div class="small-1 columns annotation-category-blank"></div>
  <div class="columns small-2 align-self-middle">Time</div>
  <div class="columns align-left">Title/Description</div>
</div>
-->

<table class="hover">
  <thead>
    <tr>
      <th width="20"></th>
      <th width="80">Start</th>
      <th>Title/Description</th>
      <th width="80">Duration</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="annotation-category-color"></td>
      <td>
        <label>
        <textarea value="{{ entry.utc_timestamp }}"></textarea>
      </label>
    </td>
      <td>
        <label>
          <textarea class="description" value="{{ entry.fields.description }}"></textarea>
        </label>
      </td>
      <td>
        <label>
        <textarea value="{{ entry.utc_timestamp }}"></textarea>
      </label>
      </td>
    </tr>

    <tr>
      <td class="annotation-category-color"></td>
      <td>
        <label>
        <textarea value="{{ entry.utc_timestamp }}"></textarea>
      </label>
      </td>
      <td>
        <label>
          <textarea class="description" value="{{ entry.fields.description }}"></textarea>
        </label>
      </td>
      <td>
        <label>
        <textarea value="{{ entry.utc_timestamp }}"></textarea>
      </label>
      </td>
    </tr>

    <tr>
      <td class="annotation-category-color"></td>
      <td>
        <label>
        <textarea value="{{ entry.utc_timestamp }}"></textarea>
      </label>
      </td>
      <td>
        <label>
          <textarea class="description" value="{{ entry.fields.description }}"></textarea>
        </label>
      </td>
      <td>
        <label>
        <textarea value="{{ entry.utc_timestamp }}"></textarea>
      </label>
      </td>
    </tr>

    <tr>
      <td class="annotation-category-color"></td>
      <td>
        <label>
        <textarea value="{{ entry.utc_timestamp }}"></textarea>
      </label>
      </td>
      <td>
        <label>
          <textarea class="description" value="{{ entry.fields.description }}"></textarea>
        </label>
      </td>
      <td>
        <label>
        <textarea value="{{ entry.utc_timestamp }}"></textarea>
      </label>
      </td>
    </tr>
    <tr>
      <td class="annotation-category-color"></td>
      <td>
        <label>
        <textarea value="{{ entry.utc_timestamp }}"></textarea>
      </label>
      </td>
      <td>
        <label>
          <textarea class="description" value="{{ entry.fields.description }}"></textarea>
        </label>
      </td>
      <td>
        <label>
        <textarea value="{{ entry.utc_timestamp }}"></textarea>
      </label>
      </td>
    </tr>
    <tr>
      <td class="annotation-category-color"></td>
      <td>
        <label>
        <textarea value="{{ entry.utc_timestamp }}"></textarea>
      </label>
      </td>
      <td>
        <label>
          <textarea class="description" value="{{ entry.fields.description }}"></textarea>
        </label>
      </td>
      <td>
        <label>
        <textarea value="{{ entry.utc_timestamp }}"></textarea>
      </label>
      </td>
    </tr>
  </tbody>
</table>

<!--

<div class="small-12 row annotation-row">
  <div class="small-1 columns">
    <div class="annotation-category-color"></div>
  </div>

  <div class="small-2 columns annotation-content">
    <label>
      <textarea value="{{ entry.utc_timestamp }}"></textarea>
    </label>
  </div>

  <div class="columns annotation-content">
    <label>
      <textarea class="description" value="{{ entry.fields.description }}"></textarea>
    </label>
  </div>

  <div class="small-1 columns">
    ^
    <!-- for re-ordering -->
    <!--
  </div>

</div>
-->






<!--
<div class="small-12 row annotation-row">
  <div class="small-1 columns annotation-category-grey"></div> <!-- color from track -->
  <!--
  <div class="small-2 columns annotation-content">
    <label>
      <textarea value="{{ entry.utc_timestamp }}"></textarea>
    </label>
  </div>
  <div class="columns annotation-content">
    <label>
      <textarea class="description" value="{{ entry.fields.description }}"></textarea>
    </label>
  </div>
</div>
-->
