@import '../../settings';
$annotation-trackcolor-width: 15px;
$outline-width: 3px;
$highlight-color: $white;
.entry-container {
  background-color: $light-gray;
  border: $black solid transparent;
  //margin-bottom: 0.3em;
}
.entry-container:hover {
  outline-offset: (-$outline-width);
  outline: $outline-width solid $black;
}
:host:nth-child(even) .entry-container {
  background-color: #f6f6f6;
}
.track-color {
  width: 15px;
  height: 100%;
}
.title {
  width: 100%;
  font-weight: 500;
  border: 1px solid transparent;
  background-color: inherit;
}
.title:hover {
  color: $dark-gray;
}
.title:focus {
  color: $black;
  background-color: $highlight-color;
}
.description {
  font-size: 14px;
  line-height: 15px;
  resize: none;
  margin: 0;
  padding: 0.2em;
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 $white;
  background-color: inherit;
}
.description:hover {
  color: $dark-gray;
}
.description:focus {
  color: $black;
  background-color: $highlight-color;
}
.spacer-right {
  margin-right: 0.1em;
}
.duration {
  display: flex;
  justify-content: flex-end;
}
.duration:focus {
  color: $black;
  background-color: $highlight-color;
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 $white;
}
.duration-icon {
  color: $dark-gray;
  padding-right: 5px;
}
.timestamp-icon {
  color: $dark-gray;
  padding-right: 5px;
}
.number, .timestamp {
  font-weight: 500;
  color: $dark-gray;
  width: 88px;
  border: 1px solid transparent;
  background-color: inherit;
}
.number:hover {
  color: $dark-gray;
}
.number:focus, .duration:focus, .title:focus {
  color: $black;
  background-color: $highlight-color;
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 $white;
}
.time-row {
  padding-top: 1.0em;
  padding-right: 1.0em;
  padding-bottom: 0.5em;
}

.text-row {
  padding-right: 1.0em;
  padding-bottom: 1.0em;
}
