@import '../../settings';
$annotation-trackcolor-width: 15px;
$outline-width: 3px;
$highlight-color: #dedede;
.entry-container {
  background-color: $light-gray;
  border: $black solid transparent;
  margin-bottom: 0.3em;
}
.entry-container:hover {
  outline-offset: (-$outline-width);
  outline: $outline-width solid $black;
}
:host:nth-child(odd) .entry-container {
  background-color: $white;
}
.track-color {
  width: 15px;
  background-color: #2198e6;
}
textarea {
  font-size: 14px;
  line-height: 15px;
  resize: none;
  margin: 0;
  min-height: 60px !important;
  padding: 0.2em;
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 $white;
  background-color: inherit;
}
textarea:hover {
  color: $dark-gray;
}
textarea:focus {
  color: $black;
  background-color: $highlight-color;
}
.duration {
  display: flex;
  justify-content: flex-end;

}
.number {
  width: 93px;
  border: 1px solid transparent;
  background-color: inherit;
}
.number:hover {
  color: $dark-gray;
}
input:focus {
  color: $black;
  background-color: $highlight-color;
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 $white;
}
