<div class="container">

  <!-- HEADER START -->
  <!-- <div class="row column title">
    <span>Research Video</span>&nbsp;Zürcher Hochschule der Künste
  </div> -->
  <!-- HEADER END -->

  <!-- MENU BAR START -->
  <div class="row align-right menu-bar">
    <div class="column logo">
      <img src=".././img/rv-logo_1000px.png" width="40px" alt="Research Video Logo" title="Research Video">
    </div>
    <div class="column settings">
      <label><a data-open="project-info"><i class="ion-information-circled settings" title="Project Settings"></i> Info</a></label>
    </div>
    <div class="column shrink settings">
      <label><a data-open="settings-reveal"><i class="ion-ios-gear settings" title="Project Settings"></i> Project Settings</a></label>
    </div>
  </div>
  <!-- MENU BAR LINK END -->

  <!-- MAIN LAYOUT -->
  <div class="row video-and-inspector">
    <div class="column video-component">
      <!-- VIDEO COMPONENT -->
      <app-video [videoSrc]="videoSrc | async" (timeupdate)="onVideoTimeupdate($event)"></app-video>
    </div>

    <div class="column small-4 inspector-component">
      <!-- INSPECTOR COMPONENT -->
      <app-inspector [entries]='inspectorEntries | async'></app-inspector>
    </div>
  </div>

  <!-- HANDLEBAR ROW -->
  <div class="row column handlebar">
    <app-handlebar [position]="20" [width]="20" [handlebarColor]="'#CCCCCC'"></app-handlebar>
  </div>
  <!-- HANDLEBAR ROW END -->

  <!-- TIMELINE COMPONENT -->
  <div class="row column timeline-component">
    <app-timeline [data]='timelineData | async'></app-timeline>
  </div>
  <!-- TIMELINE COMPONENT END-->
  <!-- MAIN LAYOUT END -->

  <!-- FOOTER -->
  <!--
  <div class="footer row column">
    <strong>RESEARCH VIDEO is a project by <a href="http://www.zhdk.ch">Zurich University of the Arts</a> and <a href="http://process.studio">Studio Process</a>.</strong>
  </div>
  -->
  <!-- FOOTER END -->
</div>


<!-- MODAL: PROJECT HANDLING -->
<div class="reveal" id="settings-reveal" data-reveal>
  <h1><img src="../img/rv-logo_1000px.png" width="60px"> Project Handling</h1>
  <app-filepicker (filePicked)="videoFilePicked($event)"></app-filepicker>
  <app-info></app-info>
  <app-io></app-io>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- MODAL: PROJECT INFORMATION -->
<div class="reveal" id="project-info" data-reveal>
  <h1>Project Information</h1>
  General Information about project and contributers. Also: possibly space for short application help/guidelines.
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
