<div class="container">

  <!-- HEADER START -->
  <div class="row column title">
    <span>Research Video</span>&nbsp;Zürcher Hochschule der Künste
  </div>
  <!-- HEADER END -->

  <!-- MENU BAR START -->
  <div class="row align-right menu-bar">
    <div class="column settings">
      <label><a data-open="exampleModal1"><i class="ion-ios-gear settings" title="Project Settings"></i> Project Settings</a></label>
  </div>
  </div>
  <!-- MENU BAR LINK END -->

  <!-- MAIN LAYOUT -->
  <div class="row video-and-inspector">
    <div class="column video-component">
      <!-- VIDEO COMPONENT -->
      <app-video [videoSrc]="videoSrc | async"></app-video>
    </div>

    <div class="column small-4 inspector-component">
      <!-- INSPECTOR COMPONENT -->
      <app-inspector [entries]='inspectorEntries | async'></app-inspector>
    </div>
  </div>

  <!-- TIMELINE COMPONENT -->
  <div class="row column timeline-component">
    <app-timeline [data]='timelineData | async'></app-timeline>
  </div>
  <!-- TIMELINE COMPONENT END-->
  <!-- MAIN LAYOUT END -->

  <!-- FOOTER -->
  <!--
  <div class="footer row column">
    <strong>RESEARCH VIDEO is a project by <a href="http://www.zhdk.ch">Zurich University of the Arts</a> and <a href="http://process.studio">Studio Process</a>.</strong>
  </div>
  -->
  <!-- FOOTER END -->
</div>


<!-- MODAL: PROJECT HANDLING -->
<div class="reveal" id="exampleModal1" data-reveal>
  <h1><img src="../img/rv-logo_1000px.png" width="60px"> Project Handling</h1>
  <app-filepicker (filePicked)="videoFilePicked($event)"></app-filepicker>
  <app-info></app-info>
  <app-io></app-io>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
