@import 'settings';

$min-width: 960px;
$video-and-inspector-height: 450px;

.container {
  min-width:$min-width;
}

.title {
  margin-top: 2.0em;
  margin-bottom: 0.2em;
  font-weight: lighter;
  margin-bottom: 0.5em;
  font-size: 21px;
  line-height: 21px;
  span {
    font-weight: 500;
  }
}

.settings {

}

.video-component {
  max-height: $video-and-inspector-height;
  overflow:hidden;
}

.inspector-component {
  max-height: $video-and-inspector-height;
  overflow:hidden;
}

.timeline-component {

}

.footer {

}



  // .browserupgrade {
  //   margin: 0.2em 0;
  //   background: #ccc;
  //   color: #000;
  //   padding: 0.2em 0;
  // }

  // // DRAG AND DROP AREA STYLES
  // .dropArea {
  //   min-height: 400px;
  //   max-height: $video-height;
  //   background-color: $light-gray;
  //   //border: 1px solid $dark-gray;
  //   color: $dark-gray;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }
  // .dragged-over {
  //   background-color: $light-gray;
  //   color: $light-gray;
  //   border: 1px solid $black;
  // }
  // .manual-upload {
  //   padding-top: 1em;
  // }
