// foundation settings (variables)
@import 'settings';

// foundation base
@import 'node_modules/foundation-sites/scss/foundation';

// include foundation globals
@include foundation-global-styles;

// include foundation features
@include foundation-everything(true);

// fonts & icons
@import '../fonts/roboto/Roboto.css';
@import '../fonts/space_mono/SpaceMono.css';
@import '../fonts/foundation-icons/foundation-icons.css';
@import '../fonts/ionicons/ionicons.css';

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height:auto;
}

.loading {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  .text {
    font-weight: lighter;
    font-size: 17px;
  }

  .image {
    padding-bottom: 0.5em;
  }
}

textarea {
  min-height: 10px !important;
}

// globally disable text selection
// (often happens by accident while dragging things)
body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
