// foundation settings (variables)
@import 'settings';

// foundation base
@import 'node_modules/foundation-sites/scss/foundation';

// include foundation globals
@include foundation-global-styles;

// include foundation features
@include foundation-everything(true);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,400italic,700,700italic,500,500italic);

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height:auto;
}

.loading {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  .text {
    font-weight: lighter;
    font-size: 25px;
    line-height: 21px;
  }

  .image {
    padding-bottom: 2em;
  }
}
