<div class="nav-wrapper">
  <div class="row">
    <div class="column">
      <rv-toolbar
        (onAddAnnotation)="addAnnotation"
        (onImportProject)="importProject($event)"
        (onImportVideo)="importVideo($event)"
        (onExportProject)="exportProject()"
        (onResetProject)="resetProject()"
        [currentAnnotationsOnly]="currentAnnotationsOnly" (onCurrentAnnotationsOnlyChange)="currentAnnotationsOnlyChange($event)"
        [search]="search" (onSearchChange)="searchChange($event)"
        [applyToTimeline]="applyToTimeline" (onApplyToTimelineChange)="applyToTimelineChange($event)">
      </rv-toolbar>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 large-8 column">
    <rv-player></rv-player>
  </div>
  <div class="small-12 medium-6 large-4 column">
    <rv-inspector></rv-inspector>
  </div>
  <div class="small-12 column">
    <rv-timeline></rv-timeline>
  </div>
  <div class="small-12 column">
    <rv-footer></rv-footer>
  </div>
</div>
