<form class="entry-container" [formGroup]="form" novalidate (mousedown)="selectAnnotationHandler($event)">
  <div class="row collapse">
    <div class="column shrink">
      <div class="annotation-color" [style.backgroundColor]="entry.get('color', null)"></div>
    </div>
    <div class="column annotation-info">
      <div class="row time-row">
        <div class="column">
          <i class="ion-md-time"></i>
          <input #start formControlName="utc_timestamp" class="duration" title="Start Time">
        </div>
        <div class="column">
          <i class="ion-ios-time"></i>
          <input #duration formControlName="duration" class="duration" title="Duration">
        </div>
      </div>
      <div class="row text-row">
        <div class="column">
          <textarea #descr formControlName="description" class="description" title="Description" placeholder="Text (optional)"></textarea>
        </div>
      </div>
    </div>
  </div>
</form>
