@import 'dimensions';
@import 'colors';

:host {
  display: block;

  .entry-container {
    background-color: $process-super-light-gray3;

    &:hover {
      background-color: $white;
    }
  }

  &.selected {
    .entry-container {
      background-color: $process-super-light-gray;
      outline-offset: (-$selection-outlinewidth);
      outline: $selection-outlinewidth solid $black;

      &:hover {
        background-color: $white;
      }
    }
  }

  &:nth-child(even) {
    .entry-container {
      background-color: $process-super-light-gray;

      &:hover {
        background-color: $white;
      }
    }
  }
}

.ion-md-time, .ion-ios-time {
  margin-left: 20px;
}

.entry-container {
  .column {
    padding: 0px;
  }

  .annotation-color {
    height: 100%;
    width: $inspector-annotation-color-width;
    margin-right: 0.2em;
  }

  .annotation-info {
    // padding: 5px 5px 5px 10px;

    .time-row {
      text-align: right;
      padding-top: 0.3em;
      padding-right: 1.0em;
      padding-bottom: 0.1em;
      color: $process-dark-gray;
    }

    .text-row {
      padding-right: 0.3em;
      padding-bottom: 0;
    }

    .ion-ios-time, .ion-md-time {
      font-size: 13px;
      padding-left: 0.3em;
      padding-right: 0.1em;
    }

    .title {
      width: 100%;
      font-weight: 500;
      border: 1px solid transparent;
      background-color: inherit;
      padding: 0.2em;

      &:focus {
        background-color: $highlight-color;
      }
    }

    .description {
      width: 100%;
      margin: 0;
      padding: 0.1em;
      font-size: 14px;
      line-height: 18px;
      resize: vertical;
      outline: none;
      border-color: transparent;
      box-shadow: 0 0 0 $white;
      background-color: inherit;

      &.contenteditable {
        /*height: 19px;*/
        padding: 3px 8px 3px 5px;
        margin: 4px 0 8px 0;
        overflow: hidden;
        /*-webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;*/

        .hashtag {
          margin: 0;
          padding: 2px 5px;
          background-color: #efefef;

          .hashtag-close {
            display: none;
            position: relative;
            top: 1px;
            right: 0;
            margin-left: 5px;
            font-size: 16px;
            background-color: #efefef;
          }
          &:hover {
            .hashtag-close {
              display: inline-block;
            }
          }
        }

        &:focus {
          height: auto;

          .hashtag {
            color: #000000;
          }
        }
        &[placeholder]:empty:not(:focus):before {
          content: attr(placeholder);
          color: #CCC;
        }
      }
      &:focus {
        color: $black;
      }
    }
    .duration {
      font-size: 13px; // TODO: 14px needed to be set explicitly
      font-weight: 400;
      width: 88px;
      border: 1px solid transparent;
      background-color: inherit;
      color: $process-dark-gray;

      &:hover {
        color: $process-dark-gray2;
      }
    }

    input, textarea, .duration, .description {
      &:focus {
        color: $white;
        background-color: $highlight-color;
        border-color: transparent;
        box-shadow: 0 0 0 $white;
      }
    }

    .ng-invalid {
      outline-offset: (-$selection-outlinewidth);
      outline: $selection-outlinewidth solid $process-orange;
    }
    input.ng-valid:focus {
      outline: none;
    }

    textarea {
      min-height: 18px !important;
      //max-height: 20px;
    }
  }
}
