<div class="main-video-annotation-sidebar">
  <div class="large-12 columns annotation-order">
    <ul class="inline-list inline-list-annotation-order">

      <li>Sort by:</li>
      <li style="text-decoration:underline;"><a href="#">Chronological</a></li>
      <li><a href="#">Type</a></li>
      <li><a href="#">Custom</a></li>
    </ul>
  </div>

  <div class="row annotation-category-title">
    <div class="annotation-category-blank"></div>
    <div class="columns small-2 align-self-middle">Time</div>
    <div class="columns align-left">Title/Description</div>
  </div>

  <app-entry></app-entry>
  <app-entry></app-entry>
  <app-entry></app-entry>

</div>
