@import '../settings';
$outline-width: 3px;

  // enables scrolling inside the inspector
  .scroll-container {
    height: $video-and-inspector-height;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $light-gray;
  }
  .settings {
    color: $dark-gray;
  }
