@import '../settings';
@import '../video/video.component.scss';
@import '../app.component.scss';


$annotation-category-width: 10px;

// DESKTOP LAYOUT


  .annotation-order {
    font-weight: 500;
    height: 35px;
  }

  .inline-list-annotation-order,
  li,
  ul {
    display: flex;
    justify-content: space-between;
    margin-left: 0 !important;
    padding-right: 0.57em;
    //text-align: left;
    list-style-type: none;
    //display: inline;
    a:hover {
      color: $dark-gray;
    }
    a:active {
      text-decoration: underline;
    }
  }

  .annotation-category-title {
    font-weight: 500;
    background-color: $light-gray;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $white;
  }

  .annotation-category-grey {
    //width: $annotation-category-width;
    background-color: $medium-gray;
  }

  .scroll-annotation {
    height: ($video-and-inspector-height - 35);
    overflow: scroll;
  }

  table {
    display: block;
    height: ($video-and-inspector-height - 35);
    overflow-y: scroll;
    overflow-x: hidden;
  }


  .annotation-category-grey {
    //width: $annotation-category-width;
    background-color: $dark-gray;
  }
  .annotation-category-grey:hover {
    //width: $annotation-category-width;
    background-color: $medium-gray;
  }
  .annotation-category-blue {
    //width: $annotation-category-width;
    background-color: #3d93d9;
  }
  .annotation-category-blank {
    //width: $annotation-category-width;
  }

  .annotation-row:hover {
    background-color: $super-light-gray;
    //border-right: 1px solid $dark-gray;
    //border-top: 1px solid $dark-gray;
    //border-bottom: 1px solid $dark-gray;
  }
