<div class="main-video-annotation-sidebar">
  <div class="small-12 large-12 columns annotation-order">
    <ul class="inline-list inline-list-annotation-order">

      <li>Sort by:</li>
      <li style="text-decoration:underline;"><a href="#">Chronological</a></li>
      <li><a href="#">Type</a></li>
      <li><a href="#">Custom</a></li>
    </ul>
  </div>

  <div class="row annotation-category-title">
    <div class="annotation-category-blank"></div>
    <div class="small-2 columns align-self-middle">Time</div>
    <div class="columns">Title/Description</div>
  </div>

  <div class="row annotation-row">
    <div class="annotation-category-grey"></div>
    <div class="small-2 columns annotation-content">00:01</div>
    <div class="columns annotation-content">Tänzerin kommt</div>
  </div>

  <div class="row annotation-row">
    <div class="annotation-category-red"></div>
    <div class="small-2 columns annotation-content">00:04</div>
    <div class="columns annotation-content">Handbewegung außen
      <br /> Sed ut erat erat. Sed sed maximus urna. Nulla iaculis metus eget ligula finibus imperdiet. Fusce eget posuere nisi.</div>
  </div>

  <div class="row annotation-row">
    <div class="annotation-category-red"></div>
    <div class="small-2 columns annotation-content">00:05</div>
    <div class="columns annotation-content">Beugung
      <br /> Sed ut erat erat. Sed sed maximus urna. Nulla iaculis metus eget ligula finibus imperdiet.
    </div>
  </div>

  <div class="row annotation-row">
    <div class="annotation-category-blue"></div>
    <div class="small-2 columns annotation-content">00:10</div>
    <div class="columns annotation-content">Drehung hinten
      <br /> Fusce eget posuere nisi.</div>
  </div>

  <div class="row annotation-row">
    <div class="annotation-category-blue"></div>
    <div class="small-2 columns annotation-content">10:01</div>
    <div class="columns annotation-content">Salto
      <br /> Sed sed maximus urna. Sed ut erat erat. Sed sed maximus urna.</div>
  </div>

  <div class="row annotation-row">
    <div class="annotation-category-red"></div>
    <div class="small-2 columns annotation-content">00:01</div>
    <div class="columns annotation-content">Fußdrehung
      <br /> Sed ut erat erat. Sed sed maximus urna.</div>
  </div>

  <div class="row annotation-row">
    <div class="annotation-category-blue"></div>
    <div class="small-2 columns annotation-content">00:01</div>
    <div class="columns annotation-content">Komposition
      <br /> Sed ut erat erat. Sed sed maximus urna. Nulla iaculis metus eget ligula finibus imperdiet.</div>
  </div>

  <div class="row annotation-row">
    <div class="annotation-category-grey"></div>
    <div class="small-2 columns annotation-content">00:01</div>
    <div class="columns annotation-content">Komposition
      <br /> Sed ut erat erat. Sed sed maximus urna. Nulla iaculis metus eget ligula finibus imperdiet.</div>
  </div>
</div>
