:host {
  display: block;

  a {
    font-weight: 500;
  }
}

:host {
  h2 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 1em;

    .icon-title {
      padding-right: 0.5em;
    }
  }
}

:host {
  .title-information {
    font-size: 16px;
    font-weight: 500;
    margin-top: 3em;
  }
}
