@import '../../settings';

$handle-outer-color: $process-dark-gray;
$handle-content-color: $process-super-light-gray;

.handlebar-container {
  height: 20px;
  position: absolute;
}
.handlebar {
  display: flex;
  //flex-direction: row;
  &:hover {
    color: $process-dark-gray;
    background-color: $process-light-gray;
  }
}

.left-handle {
  cursor: ew-resize;
  text-align: left;
  width: 10px;
  &:hover {
    color: $process-super-light-gray;
    background-color: $process-dark-gray;
  }
}

.right-handle {
  cursor: ew-resize;
  text-align: right;
  width: 10px;
  &:hover {
    color: $process-super-light-gray;
    background-color: $process-dark-gray;
  }

}

.content {
  width: 100%;
  text-align:center;
  pointer-events: none;
}
