@import '../../settings';

$background-color: $process-light-gray;
$text-color: $black;
$handle-hover-color: $black;

.handlebar-container {
  height: 20px;
  position: absolute;
  background-color: $background-color;
  color:$text-color;
}

.handlebar {
  display: flex;
  height: inherit;
  //flex-direction: row;
  &:hover {
    color: $black;
    //background-color: $process-light-gray;
  }
}

.left-handle {
  cursor: ew-resize;
  text-align: left;
  width: 10px;
  &:hover {
    color: $black;
    background-color: $black;
  }
}

.right-handle {
  cursor: ew-resize;
  text-align: right;
  width: 10px;
  &:hover {
    color: $black;
    background-color: $black;
  }
}

.content {
  width: 100%;
  height:inherit;
  text-align:center;
  pointer-events: none;
  overflow: hidden;
  word-break: break-all;
  color: $black;
  font-size: 14px;
  &:hover {
    color: $process-dark-gray;
  }
}

// CIRCULAR LAYOUT FOR ANNOTATIONS WITH NO DURATION
.handlebar-container.circular {
  width: 20px !important;
  border-radius: 10px !important;
  color: transparent !important;
  margin-left: -10px !important;

  .handlebar:hover {
    color: $black !important;
  }

  .left-handle:hover {
      color: transparent !important;
      background-color: $black !important;
  }

  .right-handle:hover {
      color: transparent !important;
      background-color: $black !important;
  }
}
