@import '../../../settings';

$background-color: #a9a9a9;
$text-color: $black;
$handle-hover-color: $black;
$outline-width: 3px;

// minimum (px) size for handlebar
$min-width: 25px;

@mixin hover-container() {
  color: $text-color;
}

@mixin hover-left() {
  color: $text-color;
  background-color: $text-color;
}

@mixin hover-right() {
  color: $text-color;
  background-color: $text-color;
}

.handlebar-container {
  min-width: $min-width;
  height: 20px;
  position: absolute;
  background-color: $background-color;
  color: $background-color;
}

:host.hover-container .handlebar {
  @include hover-container();
}

.handlebar {
  display: flex;
  height: inherit;
  &:hover {
    @include hover-container();
  }
}

:host.hover-left {
  .left-handle { @include hover-left(); }
  .handlebar { @include hover-container(); }
}

.left-handle {
  cursor: ew-resize;
  text-align: left;
  padding-left: 1px;
  padding-right: 1px;
  &:hover {
    @include hover-left();
  }
}

:host.hover-right {
  .right-handle { @include hover-right(); }
  .handlebar { @include hover-container(); }
}

.right-handle {
  cursor: ew-resize;
  text-align: right;
  padding-left: 1px;
  padding-right: 1px;
  &:hover {
    @include hover-right();
  }
}

.content {
  width: 100%;
  height:inherit;
  text-align:center;
  pointer-events: none;
  overflow: hidden;
  word-break: break-all;
  color: $text-color;
  font-size: 14px;
}

// CIRCULAR LAYOUT FOR ANNOTATIONS WITH NO DURATION
.handlebar-container.circular {
  width: 20px !important;
  border-radius: 10px !important;
  color: transparent !important;
  margin-left: -10px !important;

  .handlebar:hover {
    color: $handle-hover-color !important;
  }

  .left-handle:hover {
      color: transparent !important;
      background-color: $handle-hover-color !important;
  }

  .right-handle:hover {
      color: transparent !important;
      background-color: $handle-hover-color !important;
  }
}

.timeline-header .handlebar-container {
  background-color: #FFF000 !important;
}
