<div #scrollbar class="scrollbar-wrapper">
  <rv-handlebar #handlebar
    [containerRect]="scrollbarRect" [caption]="scrollbarCaption"
    [left]="scrollbarLeft" [width]="scrollbarWidth">
  </rv-handlebar>
</div>
<div #timelineWrapper class="timeline-wrapper">
  <rv-track *ngFor="let track of timeline?.get('tracks', []); index as i; trackBy: trackByFunc;"
    [data]="track" [trackIndex]="i" [numTracks]="getNumTracks()" [totalDuration]="timeline.duration"
    [scrollSettings]="scrollSettings"
    [selectedAnnotations]="selectedAnnotations"
    (onUpdateTrack)="updateTrack($event)"
    (onDeleteTrack)="deleteTrack($event)"
    (onDuplicateTrack)="duplicateTrack($event)"
    (onInsertAtTrack)="insertTrackAt($event)"
    (onUpdateAnnotation)="updateAnnotation($event)"
    (onSelectAnnotation)="selectAnnotation($event)"
    (onAddAnnotation)="addAnnotation($event)"
    (onPasteAnnotations)="pasteAnnotations($event)">
  </rv-track>
  <div #playheadOverflow class="playhead-wrapper">
    <div #playheadZoom class="playhead-zoom" [style.width.%]="pZoom*100">
      <rv-playhead [style.left.%]="playerPos*100" [currentTime]="playerCurrentTime"></rv-playhead>
    </div>
  </div>
</div>
<button class="ion-plus add-track" title="Add new Track" alt="Add new Track" (click)="addTrack()"> Add Track</button>
<!-- {{selectedAnnotationId}}-->
<!-- <pre>{{timeline?.tracks|json}}</pre> -->
