<div class="row">
  <div class="column">
    <h3 class="title-settings">Open Project</h3>
    <!-- <i class="ion-ios-upload-outline" title="Import Project" alt="Import Project"></i>  -->
    <input type="file" name="file" id="file" class="inputfile" />
    <label for="file">Open...</label>
  </div>
  <div class="column">
    <h3 class="title-settings">Export Project</h3>
    <!-- <i class="ion-ios-download-outline" title="Export Project" alt="Export Project"></i>  -->
    <input type="file" name="file" id="file" class="inputfile" />
    <label for="file">Export...</label>
  </div>
</div>
<!-- <div class="row column">
  Current Video URL: <code><span style="font-size: 12px">{{ videoSrc }}</span></code><br />
  <hr>
</div> -->
<!-- <i class="ion-ios-download-outline export-project-icon" title="Export Project" alt="Export Project" (click)=""> Add Track</i> -->
