@import 'colors';
@import 'dimensions';

:host {
  background-color: $black;
  display: block;
  position: absolute;
  width: 2px;
  top: 0px;
  height: 100%;
  pointer-events: none;

  .timelabel {
    color: $white;
    display: inline-block;
    background-color: $black;
    position: relative;
    top: -$playhead-height;
    height: $playhead-height;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}
