// Process colors
$white: #fefefe;
$process-super-light-gray: #f6f6f6;
$process-light-gray: #dfdfdf;
$process-gray: #bfbfbf;
$process-gray2: #a9a9a9;
$black: #0a0a0a;
$highlight-color: #0a0a0a;
$dark-gray: #8a8a8a;
