// # Inspector
$inspector-annotation-color-width: 10px;
$inspector-outline-width: 3px;

// # Timeline
$scrollbar-margin: 20px;

// ## Handlebar
$handlebar-height: 20px;
$handlebar-minwidth: 25px;
$handlebar-handle-padding: 1px;
$handlebar-content-width: 100%;
$handlebar-content-fontsize: 14px;

// ## Track
$track-paddingtop: 0.4em;
$track-paddingbottom: 1em;
$track-title-paddingbottom: 0.5em;
$track-color-width: 20px;
$track-icon-paddingleft: 5px;
$track-icon-paddingright: 1px;

$track-title-fontweight: 500;

$track-deleteicon-paddingright: 5px;

$track-options-animationduration: 0.2s;

$track-annotationwrapper-marginbottom: 0.7em;
