// # Gerneral
$selection-outlinewidth: 3px;

// # Inspector
$inspector-annotation-color-width: 10px;

// # Timeline
$scrollbar-margintop: 0.5em;
$scrollbar-addtrack-fontsize: 13px;
$scrollbar-addtrack-fontweight: 500;
$scrollbar-addtrack-paddingright: 5px;

// ## Handlebar
$handlebar-height: 16px;
$handlebar-minwidth: 25px;
$handlebar-handle-padding: 1px;
$handlebar-content-width: 100%;
$handlebar-content-fontsize: 11px;

// ## Track
$track-paddingtop: 0.2em;
$track-paddingbottom: 0.1em;
$track-title-paddingbottom: 0.0em;
$track-color-width: 20px;
$track-icon-paddingleft: 5px;
$track-icon-paddingright: 1px;

$track-title-fontweight: 500;
$track-title-fontsize: 14px;

$track-optionsicon-padding: 5px;
$track-deleteicon-paddingright: 5px;

$track-options-animationduration: 0.2s;

$track-annotationwrapper-marginbottom: 2px;

// ## Playhead
$playhead-height: 20px;

// ## Footer
$footer-fontsize: 10px;
$footer-margintop: 2em;
$footer-marginbottom: 2em;
$footer-linkborderwidth: 1px;
