
#tag-container {
  z-index: 50000;
  // position: fixed;
}

$hashtag-body-color: #e0e0e0;
$hashtag-body-color-hover: #ffca82;

.hashtag {
  display: inline-block;
  margin: 1px 2px;
  padding: 2px 5px;
  background-color: $hashtag-body-color;

  .hashtag-close {
    display: none;
    position: absolute;
    margin-left: 5px;
    font-size: 16px;
    background-color: $hashtag-body-color;
    cursor: pointer;
  }
  &:hover {
    background-color: $hashtag-body-color-hover;

    .hashtag-close {
      display: inline-block;
      margin-top: -2px;
      padding: 3px 4px 1px 0;
      background-color: $hashtag-body-color-hover;
      color: #474747;
    }
  }
}

.searchBox {
  &.contenteditable {
    .hashtag {
      .hashtag-close {
        padding: 1px 4px 0 2px;
      }
    }
  }
}
