@import '../../settings';

$main-color: $dark-gray;
$blue: #2198e6;

:host {
  pointer-events: none;
}

.cursor {
  background-color: $blue;
  display: block;
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  left: 5;
}

.timelabel {
  color: $white;
  display: inline-block;
  background-color: $blue;
  position: relative;
  top: 0;
  left: 0;
  height: 20px;
  padding-left: 0.2em;
  padding-right: 0.2em;
}
